@import "../Styles/Variables.scss";

.equipmentContainer {
    @include flexRow(0px);
    justify-content: space-between;
    width: 100%;
    border-radius: 50px;
    .checkbox {
        margin-right: 10px;
    }
    img {
        height: 50px;
        width: 50px;
        border-radius: 50px 0px 0px 50px;
    }
    background-color: $darkGrey;
    .subHeaderText {
        color: $white;
        text-transform: capitalize;
        font-size: $bodyText;
        text-align: center;
    }
}