@import "../Styles/Variables.scss";

.equipmentContainer {
    @include flexRow(0px);
    justify-content: space-between;
    width: 90%;
    border-radius: 50px;
    .checkbox {
        padding-right: 25px;
    }
    background-color: $darkGrey;
    .subHeaderText {
        color: $white;
        text-transform: capitalize;
        font-size: $subHeaderText;
        text-align: center;
    }
}