@import "../../Styles/Variables.scss";

.workoutHeader {
    background-color: $primaryColor;
    color: $white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vh;
    letter-spacing: 3px;
}