@import "../../Styles/Variables.scss";

.exerciseContainer {
  @include flexRow(0px);
  align-items: center;
  width: 80%;
  position: relative;
  .checkboxContainer {
    background-color: $darkGrey;
  }
  .exerciseDetailsContainer {
    @include flexColumn(0px);
    justify-content: flex-start;
    background-color: $lightGrey;
  }
  .exerciseSwapButton {
      background-color: black;
  }
}
