@import "../../Styles/Variables.scss";

.exerciseContainer {
  @include flexColumn(10px);
  width: 100%;
  .exerciseHeader {
    width: 75%;
    .subHeaderText {
      text-transform: capitalize;
      text-align: center;
      padding: 0;
      margin: 0;
    }
  }
  .exerciseBody {
    @include flexRow(0px);
    justify-content: space-around;
    background-color: $darkGrey;
    color: $lightGrey;
    border-radius: 50px;
    width: 85%;
    height: 60px;
    .checkBox,
    .swapButton {
      color: $lightGrey;
      margin: 0;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    p {
      color: $white;
    }
  }
}
