@import "../Styles/Variables.scss";

.formContainer {
  .routineBar {
    background-color: $primaryColor;
    width: 50%;
    height: 2vw;
  }
  .imageContainer {
    width: 75%;
    height: auto;
  }
}
