@import "../Styles/Variables.scss";

.formContainer {
  .maxesBar {
    background-color: $primaryColor;
    width: 100%;
    height: 2vw;
  }
  .formFooter {
    .submitButton {
      background-color: $darkGrey;
    }
    .submitBackButton {
        color: $darkGrey;
    }
  }
}
