@import "../Styles/Variables.scss";

.profileLogo {
  width: auto;
  height: 150px;
}

.profileBody {
  @include flexColumn(0px);
  width: 90%;
  .accordionContainer {
    @include flexColumn(15px);
    width: 90%;
    .accordionDetailsHeader {
      @include flexRow(0px);
      justify-content: space-between;
      border-top: 1px solid $darkGrey;
      padding-top: 15px;
      color: $primaryColor;
      width: 100%;
    }
    .accordionDetailsBody {
      @include flexRow(5px);
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 90%;
      padding-bottom: 15px;
    }
    .accordionItem {
      background-color: $white;
      color: $darkGrey;
      border: 1px solid $darkGrey;
      border-radius: 25px;
      padding: 5px 10px;
    }
  }
  .accordionCover {
    @include flexRow(0px);
    justify-content: space-between;
    border-top: 1px solid $darkGrey;
    font-size: $bodyText;
    color: $darkGrey;
    width: 90%;
    padding: 15px 0px;
  }
}
.profileFooter {
  padding-bottom: 30px;
}
