@import "../Styles/Variables.scss";

.equipmentBar {
    background-color: $primaryColor;
    width: 75%;
    height: 2vw;
}

.equipmentBody {
    @include flexColumn(10px);
    justify-content: flex-start;
    overflow-y: scroll;
}

.scrollText {
    animation: MoveUpDown 1.5s linear infinite;
    color: $darkGrey;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }