@import "../Styles/Variables.scss";

.equipmentBar {
    background-color: $primaryColor;
    width: 75%;
    height: 2vw;
}

.equipmentBody {
    @include flexColumn(10px);
    justify-content: flex-start;
    overflow-y: scroll;
    height: 50vh;
}