@import "../Styles/Variables.scss";

.topNav {
    background-color: $primaryColor;
    color: $white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vh;
    letter-spacing: 3px;
    .navLogo, .navMenu {
        height: 36px;
        width: auto;
        padding: 0px 30px;
    }
}