@import "../Styles/Variables.scss";

.topNav {
  @include flexRow(0px);
  justify-content: space-between;
  background-color: $primaryColor;
  color: $white;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 60px;
  letter-spacing: 3px;
  .navMenu, .navHeaderText {
    padding: 0px 30px;
  }
  .navHeaderText {
    @include sansSerif($headerText, normal, $white);
  }
}
