@import "../../Styles/Variables.scss";

.homeBody {
  @include flexColumn(30px);
  height: 50vh;
  width: 75%;
}

.homeFooter {
  @include flexColumn(15px);
  justify-content: space-between;
  background-color: $white;
}
