@import "../Styles/Variables.scss";

// ALL
* {
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
}

// SHARED CONTAINERS
.appContainer {
  @include flexColumn(0px);
  height: 90vh;
  width: 100vw;
}

.formContainer {
  @include flexColumn(0px);
  justify-content: space-around;
  height: 100vh;

  .formHeader {
    @include flexColumn(15px);
    text-align: center;
    width: 100%;
  }

  .formBody {
    @include flexColumn(30px);
    height: 60vh;
    width: 65%;
  }

  .formFooter {
    @include flexColumn(15px);
    background-color: $white;
  }
}

// COMPONENTS
.primaryButton {
  @include buttonFilled($white, $primaryColor);
}

.backButton {
  @include buttonText($primaryColor);
}

.submitButton {
  @include buttonFilled($white, $darkGrey);
}

.smallButton {
  width: 130px;
}

.updateButton {
  background-color: $darkGrey;
}

.progressBar {
  background-color: $lightGrey;
  width: 85%;
  height: 2vw;
}

// FONT STYLING
.headerText {
  @include sansSerif($headerText, bold, black);
  padding: 0px 20px;
}

.subHeaderText {
  @include sansSerif($subHeaderText, medium, black);
  padding-bottom: 15px;
  text-align: center;
  @include flexRow(5px);
}

// MISC
.accordionHeader {
  font-size: $headerText;
  letter-spacing: 2px;
}

.alert {
  @include sansSerif($bodyText, normal, $white);
  text-align: center;
  padding: 10px 50px;
}

.customSelect {
  select {
    display: none;
  }
  position: relative;
  font-family: $fontFamily;
}

.modalFormBody {
  @include flexColumn(30px);
  width: 95%;
  .subHeaderText {
      color: black;
      padding-bottom: 5px;
  }
  .modalImageContainer{
    height: 200px;
    width: auto;
  }
}