@import "../Styles/Variables.scss";

// ALL 
* {
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
}

// SHARED CONTAINERS
.appContainer {
    padding: 50px 40px;
}

.formContainer {
    @include flexColumn(15px);
    align-content: space-around;

    .formHeader {
        @include flexColumn(10px);
        justify-content: space-between;
        text-align: center;
    }

    .formBody {
        @include flexColumn(20px);
    }

    .formFooter {
        @include flexColumn(10px);
        justify-content: space-between;
    }
}

// COMPONENTS
.primaryButton {
    @include buttonFilled($white, $primaryColor);
}

.submitButton {
    @include buttonFilled($white, $darkGrey);
}

.progressBar {
    background-color: $lightGrey;
    width: 85%;
    height: 2vw;
}


// FONT STYLING
.headerText {
    @include sansSerif($headerText, bold, black);
    padding: 10px;
}

.subHeaderText {
    @include sansSerif($subHeaderText, medium, black);
    padding: 5px;
}

.alert {
    @include sansSerif($bodyText, normal, $white);
    text-align: center;
    padding: 10px 50px;
}

.customSelect {
    select{
        display: none;
    }
    position: relative;
    font-family: $fontFamily;
}
