@import "../Styles/Variables.scss";

* {
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
}

button {
    @include buttonFilled($white, $primaryColor);
}

.appContainer {
    padding: 50px;
}

.customSelect {
    select{
        display: none;
    }
    position: relative;
    font-family: $fontFamily;
}

.headerText {
    @include sansSerif($headerText, bold, black);
}

.subHeaderText {
    @include sansSerif($subHeaderText, medium, black);
}

.alert {
    @include sansSerif($bodyText, normal, $white);
    text-align: center;
    padding: 10px 50px;
}