@import "../Styles/Variables.scss";

.loginFormContainer {
  @include flexColumn(10px);

  form {
    @include flexColumn(5px);
    width: 75vw;
    input {
      padding: 10px;
      margin: 8px 0px;
      box-sizing: border-box;
    }
    .primaryButton {
      @include buttonFilled($white, $primaryColor);
    }
  }
  p {
    @include sansSerif($bodyText, normal, $white);
  }
  .createActBtn {
    @include buttonText($primaryColor);
    letter-spacing: normal;
    text-transform: lowercase;
    padding-left: 10px;
  }
}
