@import "../Styles/Variables.scss";

.loginFormContainer {
  @include flexColumn(30px);

  form {
    @include flexColumn(15px);
    width: 85vw;
    input {
      padding: 10px 30px;
    }
  }
  p {
    @include sansSerif($bodyText, normal, $white);
  }
  .createActBtn {
    @include buttonText($primaryColor);
    letter-spacing: normal;
    text-transform: lowercase;
    padding-left: 10px;
  }
}
