@import "../Styles/Variables.scss";

.formContainer {
  .maxesBar {
    background-color: $primaryColor;
    width: 100%;
    height: 2vw;
  }
  .maxesFormBody {
    @include flexColumn(30px);
    width: 85%;
    .maxesFormTop {
      width: 100%;
    }
    .maxesFormBottom {
      @include flexRow(15px);
    }
  }
  .submitBackButton {
    color: $darkGrey;
  }
}
