@import "../Styles/Variables.scss";

.loginContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/images/login-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    @include flexColumn(30px);

    .headerText {
        @include sansSerif(42px, bold, $white);  
        letter-spacing: 3px;
    }
    .loginLogo {
        height: 150px;
        width: auto;
    }
}