@import "../Styles/Variables.scss";

.loginContainer {
  @include flexColumn(50px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../public/images/login-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  .loginHeader {
    @include flexColumn(15px);
    .loginLogo {
      height: 150px;
      width: auto;
    }
    .headerText {
      @include sansSerif(42px, bold, $white);
      letter-spacing: 3px;
    }
  }
}
