@import "../Styles/Variables.scss";

.homeContainer {
  @include flexColumn(20px);
  justify-content: flex-start;

  .homeHeader {
    @include flexColumn(10px);
    text-align: center;
    padding-top: 40px;
    width: 100%;
  }
}
