@import "../Styles/Variables.scss";

.workoutContainer {
  @include flexColumn(0px);
  background-color: $white;
  width: 95vw;
  .workoutBody {
    @include flexColumn(45px);
    justify-content: flex-start;
    overflow-y: scroll;
    height: 75vh;
    width: 100%;
  }
}
