@import "../Styles/Variables.scss";

.navBar {
    background-color: $darkGrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100vw;
    .navLink {
        margin: 5vw;
        color: $white;
    }
}