@import "../Styles/Variables.scss";

.navBar {
    background-color: $darkGrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100vw;
    .navLink {
        @include flexColumn(5px);
        padding: 2vw;
        color: $lightGrey;
        text-decoration: none;
        .navLogo {
            height: 36px;
            width: auto;
        }
        p {
            @include sansSerif(12px, normal, $lightGrey);
            text-decoration: none;
        }
    }
}